@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: 'Mooli', sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  color: var(--text-dark);
  margin: 0;
  background-color: var(--text-light);
}

header, footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 1em;
}

h1, h2 {
  font-family: var(--secondary-font);
}

a:link,
a:visited {
  color: var(--accent-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  justify-items: center;
  padding: 1em;
}

button#menu-button {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 1.2em;
  cursor: pointer;
}

@media (min-width: 700px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1000px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
    padding: 0;
  }

  #menu-button {
    display: none;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
nav {
  display: none;
}

nav.open {
  display: block;
}

@media (min-width: 1000px) {
  nav {
    display: block;
  }
}
