@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ffffff;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Mooli", sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  color: var(--text-light);
  margin: 0;
  background-color: var(--text-dark);
  text-align: center;
}

header,
footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 1em;
}

h1, h2 {
  font-family: var(--secondary-font);
}

a:link,
a:visited {
  color: var(--text-light);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
  margin: 1em 0;
}

.hide {
  display: none;
}

button#menu-button {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 1.2em;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  justify-items: center;
  padding: 1em;
}

img {
  max-width: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

dialog img {
  width: 90%;
  max-height: 100%;
  margin: 20vh auto;
  display: block;
  border-radius: 10px;
}

.close-viewer {
  position: absolute;
  top: 20vh;
  right: 2em;
  font-size: 2em;
  color: var(--text-light);
  background: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 700px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  #menu-button {
    display: none;
  }

  #main-nav {
    display: block;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

