
body {
  margin: 0;
  font-family: "Times New Roman", serif;
  text-align: center;
  background-color: #C8E0F4;
  color: #001C55;
}


header {
  background-color: #165047;
  padding: 10px;
  color: white;
}

.logo {
  width: 120px;
  display: block;
  margin: 0 auto;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}


.hero {
  padding: 30px;
  background-color: #DDE0BD;
  margin: 20px;
  border-radius: 15px;
}


.fact-box {
  background-color: #DDE0BD;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

#fact-btn {
  padding: 10px 20px;
  background-color: #165047;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#fact-btn:hover {
  background-color: #001C55;
}


footer {
  background-color: #165047;
  color: white;
  padding: 10px;
  margin-top: 40px;
}

.footer-logo {
  width: 60px;
  display: block;
  margin: 0 auto;
}

